<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Hello World</h1>
	<h3>This is server</h3>
	<form action="/loadFile" method="POST" enctype="multipart/form-data">
		<div class="file-container">
			<input type="file" name="file" id="file">
			<label for="file">Choose File</label>
		</div>
		<!--<img src="image/file.filename" alt="">-->
		<input type="submit" value="Submit">
	</form>
</body>
</html>